 /* ---CSS VAR --- */

:root {
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-neutral-dark: hsl(234, 12%, 34%);
    --color-neutral-gray: hsl(229, 6%, 66%);
    --color-neutral-white: hsl(0, 0%, 98%);
    --weigth-ligth: 200;
    --weigth-regular: 400;
    --weigth-blod: 600;
}
/* --- RESET--- */
body {
    font-size: 15 px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1, h1 {
    margin: 0;
}
* {
    box-sizing: border-box;
}

 /* ---MOBILE--- */
 .body {
    padding: 80px 30px ;
 }
 .header {
    margin-bottom: 50px;
 }
 .principal-title {
    font-size: 1.5 rem;
    font-weight: var(--weigth-ligth);
    color: var(--color-neutral-dark);
    margin-bottom: 12px;
    text-align: center;
 }
 .principal-title-bold {
    font-weight: var(--weigth-blod);
 }
 .principal-text {
    color: var(--color-neutral-gray);
    text-align: center;
    line-height: 1.8;
    font-size: 0.9rem;
 }
 .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
 }
 .card {
    width: min(100%, 300px);
    padding: 20px;
    background-color: white;
    border-top: 2px solid var(--color-cyan);
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 hsla(234, 12%, 34%, 20%);
 }
 .card-title {
    color: var(--color-neutral-dark);
    font-size: 1.2rem;
    margin-bottom: 5px;
 }
 .card-text {
    color: var(--color-neutral-gray);
    font-size: 0.8rem;
    line-height: 1.8;
    margin-bottom: 30px;
    
 }
 .card_img {
    width: 55px;
    display: block;
    margin-left: auto;
 }
 .card_red {
    border-top-color: var(--color-red);
 }
 
 .card_orange {
    border-top-color: var(--color-orange);
 }
 
 .card_ble {
    border-top-color: var(--color-blue);
 }

  /* --- DESKTOP---  */
 @media screen and (min-width: 1010px) {
    .card-container {
        width: 950px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .card:nth-child(1), .card:nth-child(4)  {
        grid-row: span 2;
        align-self: center;
    }
    .card:nth-child(3) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    
 }